:root {
  --as-primary: var(--as-primary-500);
  --as-primary-rgb: var(--as-primary-500-rgb);
  --as-primary-100: #dbeafe;
  --as-primary-100-rgb: 219, 234, 254;
  --as-primary-200: #bfdbfe;
  --as-primary-200-rgb: 191, 219, 254;
  --as-primary-300: #93c5fd;
  --as-primary-300-rgb: 147, 197, 253;
  --as-primary-400: #60a5fa;
  --as-primary-400-rgb: 96, 165, 250;
  --as-primary-500: #3b82f6;
  --as-primary-500-rgb: 59, 130, 246;
  --as-primary-600: #2563eb;
  --as-primary-600-rgb: 37, 99, 235;
  --as-primary-700: #1d4ed8;
  --as-primary-700-rgb: 29, 78, 216;
  --as-primary-800: #1e40af;
  --as-primary-800-rgb: 30, 64, 175;
  --as-primary-900: #1e3a8a;
  --as-primary-900-rgb: 30, 58, 138;
  --as-secondary: var(--as-secondary-500);
  --as-secondary-rgb: var(--as-secondary-500-rgb);
  --as-secondary-100: #f3e8ff;
  --as-secondary-100-rgb: 243, 232, 255;
  --as-secondary-200: #e9d5ff;
  --as-secondary-200-rgb: 233, 213, 255;
  --as-secondary-300: #d8b4fe;
  --as-secondary-300-rgb: 216, 180, 254;
  --as-secondary-400: #c084fc;
  --as-secondary-400-rgb: 192, 132, 252;
  --as-secondary-500: #a855f7;
  --as-secondary-500-rgb: 168, 85, 247;
  --as-secondary-600: #9333ea;
  --as-secondary-600-rgb: 147, 51, 234;
  --as-secondary-700: #7e22ce;
  --as-secondary-700-rgb: 126, 34, 206;
  --as-secondary-800: #6b21a8;
  --as-secondary-800-rgb: 107, 33, 168;
  --as-secondary-900: #581c87;
  --as-secondary-900-rgb: 88, 28, 135;
  --as-emerald: var(--as-emerald-500);
  --as-emerald-rgb: var(--as-emerald-500-rgb);
  --as-emerald-100: #d1fae5;
  --as-emerald-100-rgb: 209, 250, 229;
  --as-emerald-200: #a7f3d0;
  --as-emerald-200-rgb: 167, 243, 208;
  --as-emerald-300: #6ee7b7;
  --as-emerald-300-rgb: 110, 231, 183;
  --as-emerald-400: #34d399;
  --as-emerald-400-rgb: 52, 211, 153;
  --as-emerald-500: #10b981;
  --as-emerald-500-rgb: 16, 185, 129;
  --as-emerald-600: #059669;
  --as-emerald-600-rgb: 5, 150, 105;
  --as-emerald-700: #047857;
  --as-emerald-700-rgb: 4, 120, 87;
  --as-emerald-800: #065f46;
  --as-emerald-800-rgb: 6, 95, 70;
  --as-emerald-900: #064e3b;
  --as-emerald-900-rgb: 6, 78, 59;
  --as-green: var(--as-green-500);
  --as-green-rgb: var(--as-green-500-rgb);
  --as-green-100: #dcfce7;
  --as-green-100-rgb: 220, 252, 231;
  --as-green-200: #bbf7d0;
  --as-green-200-rgb: 187, 247, 208;
  --as-green-300: #86efac;
  --as-green-300-rgb: 134, 239, 172;
  --as-green-400: #4ade80;
  --as-green-400-rgb: 74, 222, 128;
  --as-green-500: #22c55e;
  --as-green-500-rgb: 34, 197, 94;
  --as-green-600: #16a34a;
  --as-green-600-rgb: 22, 163, 74;
  --as-green-700: #15803d;
  --as-green-700-rgb: 21, 128, 61;
  --as-green-800: #166534;
  --as-green-800-rgb: 22, 101, 52;
  --as-green-900: #14532d;
  --as-green-900-rgb: 20, 83, 45;
  --as-lime: var(--as-lime-500);
  --as-lime-rgb: var(--as-lime-500-rgb);
  --as-lime-100: #ecfccb;
  --as-lime-100-rgb: 236, 252, 203;
  --as-lime-200: #d9f99d;
  --as-lime-200-rgb: 217, 249, 157;
  --as-lime-300: #bef264;
  --as-lime-300-rgb: 190, 242, 100;
  --as-lime-400: #a3e635;
  --as-lime-400-rgb: 163, 230, 53;
  --as-lime-500: #84cc16;
  --as-lime-500-rgb: 132, 204, 22;
  --as-lime-600: #65a30d;
  --as-lime-600-rgb: 101, 163, 13;
  --as-lime-700: #4d7c0f;
  --as-lime-700-rgb: 77, 124, 15;
  --as-lime-800: #3f6212;
  --as-lime-800-rgb: 63, 98, 18;
  --as-lime-900: #365314;
  --as-lime-900-rgb: 54, 83, 20;
  --as-red: var(--as-red-500);
  --as-red-rgb: var(--as-red-500-rgb);
  --as-red-100: #fee2e2;
  --as-red-100-rgb: 254, 226, 226;
  --as-red-200: #fecaca;
  --as-red-200-rgb: 254, 202, 202;
  --as-red-300: #fca5a5;
  --as-red-300-rgb: 252, 165, 165;
  --as-red-400: #f87171;
  --as-red-400-rgb: 248, 113, 113;
  --as-red-500: #ef4444;
  --as-red-500-rgb: 239, 68, 68;
  --as-red-600: #dc2626;
  --as-red-600-rgb: 220, 38, 38;
  --as-red-700: #b91c1c;
  --as-red-700-rgb: 185, 28, 28;
  --as-red-800: #991b1b;
  --as-red-800-rgb: 153, 27, 27;
  --as-red-900: #7f1d1d;
  --as-red-900-rgb: 127, 29, 29;
  --as-orange: var(--as-orange-500);
  --as-orange-rgb: var(--as-orange-500-rgb);
  --as-orange-100: #ffedd5;
  --as-orange-100-rgb: 255, 237, 213;
  --as-orange-200: #fed7aa;
  --as-orange-200-rgb: 254, 215, 170;
  --as-orange-300: #fdba74;
  --as-orange-300-rgb: 253, 186, 116;
  --as-orange-400: #fb923c;
  --as-orange-400-rgb: 251, 146, 60;
  --as-orange-500: #f97316;
  --as-orange-500-rgb: 249, 115, 22;
  --as-orange-600: #ea580c;
  --as-orange-600-rgb: 234, 88, 12;
  --as-orange-700: #c2410c;
  --as-orange-700-rgb: 194, 65, 12;
  --as-orange-800: #9a3412;
  --as-orange-800-rgb: 154, 52, 18;
  --as-orange-900: #7c2d12;
  --as-orange-900-rgb: 124, 45, 18;
  --as-amber: var(--as-amber-500);
  --as-amber-rgb: var(--as-amber-500-rgb);
  --as-amber-100: #fef3c7;
  --as-amber-100-rgb: 254, 243, 199;
  --as-amber-200: #fde68a;
  --as-amber-200-rgb: 253, 230, 138;
  --as-amber-300: #fcd34d;
  --as-amber-300-rgb: 252, 211, 77;
  --as-amber-400: #fbbf24;
  --as-amber-400-rgb: 251, 191, 36;
  --as-amber-500: #f59e0b;
  --as-amber-500-rgb: 245, 158, 11;
  --as-amber-600: #d97706;
  --as-amber-600-rgb: 217, 119, 6;
  --as-amber-700: #b45309;
  --as-amber-700-rgb: 180, 83, 9;
  --as-amber-800: #92400e;
  --as-amber-800-rgb: 146, 64, 14;
  --as-amber-900: #78350f;
  --as-amber-900-rgb: 120, 53, 15;
  --as-yellow: var(--as-yellow-500);
  --as-yellow-rgb: var(--as-yellow-500-rgb);
  --as-yellow-100: #fef9c3;
  --as-yellow-100-rgb: 254, 249, 195;
  --as-yellow-200: #fef08a;
  --as-yellow-200-rgb: 254, 240, 138;
  --as-yellow-300: #fde047;
  --as-yellow-300-rgb: 253, 224, 71;
  --as-yellow-400: #facc15;
  --as-yellow-400-rgb: 250, 204, 21;
  --as-yellow-500: #eab308;
  --as-yellow-500-rgb: 234, 179, 8;
  --as-yellow-600: #ca8a04;
  --as-yellow-600-rgb: 202, 138, 4;
  --as-yellow-700: #a16207;
  --as-yellow-700-rgb: 161, 98, 7;
  --as-yellow-800: #854d0e;
  --as-yellow-800-rgb: 133, 77, 14;
  --as-yellow-900: #713f12;
  --as-yellow-900-rgb: 113, 63, 18;
  --as-teal: var(--as-teal-500);
  --as-teal-rgb: var(--as-teal-500-rgb);
  --as-teal-100: #ccfbf1;
  --as-teal-100-rgb: 204, 251, 241;
  --as-teal-200: #99f6e4;
  --as-teal-200-rgb: 153, 246, 228;
  --as-teal-300: #5eead4;
  --as-teal-300-rgb: 94, 234, 212;
  --as-teal-400: #2dd4bf;
  --as-teal-400-rgb: 45, 212, 191;
  --as-teal-500: #14b8a6;
  --as-teal-500-rgb: 20, 184, 166;
  --as-teal-600: #0d9488;
  --as-teal-600-rgb: 13, 148, 136;
  --as-teal-700: #0f766e;
  --as-teal-700-rgb: 15, 118, 110;
  --as-teal-800: #115e59;
  --as-teal-800-rgb: 17, 94, 89;
  --as-teal-900: #134e4a;
  --as-teal-900-rgb: 19, 78, 74;
  --as-cyan: var(--as-cyan-500);
  --as-cyan-rgb: var(--as-cyan-500-rgb);
  --as-cyan-100: #cffafe;
  --as-cyan-100-rgb: 207, 250, 254;
  --as-cyan-200: #a5f3fc;
  --as-cyan-200-rgb: 165, 243, 252;
  --as-cyan-300: #67e8f9;
  --as-cyan-300-rgb: 103, 232, 249;
  --as-cyan-400: #22d3ee;
  --as-cyan-400-rgb: 34, 211, 238;
  --as-cyan-500: #06b6d4;
  --as-cyan-500-rgb: 6, 182, 212;
  --as-cyan-600: #0891b2;
  --as-cyan-600-rgb: 8, 145, 178;
  --as-cyan-700: #0e7490;
  --as-cyan-700-rgb: 14, 116, 144;
  --as-cyan-800: #155e75;
  --as-cyan-800-rgb: 21, 94, 117;
  --as-cyan-900: #164e63;
  --as-cyan-900-rgb: 22, 78, 99;
  --as-sky: var(--as-sky-500);
  --as-sky-rgb: var(--as-sky-500-rgb);
  --as-sky-100: #e0f2fe;
  --as-sky-100-rgb: 224, 242, 254;
  --as-sky-200: #bae6fd;
  --as-sky-200-rgb: 186, 230, 253;
  --as-sky-300: #7dd3fc;
  --as-sky-300-rgb: 125, 211, 252;
  --as-sky-400: #38bdf8;
  --as-sky-400-rgb: 56, 189, 248;
  --as-sky-500: #0ea5e9;
  --as-sky-500-rgb: 14, 165, 233;
  --as-sky-600: #0284c7;
  --as-sky-600-rgb: 2, 132, 199;
  --as-sky-700: #0369a1;
  --as-sky-700-rgb: 3, 105, 161;
  --as-sky-800: #075985;
  --as-sky-800-rgb: 7, 89, 133;
  --as-sky-900: #0c4a6e;
  --as-sky-900-rgb: 12, 74, 110;
  --as-blue: var(--as-blue-500);
  --as-blue-rgb: var(--as-blue-500-rgb);
  --as-blue-100: #dbeafe;
  --as-blue-100-rgb: 219, 234, 254;
  --as-blue-200: #bfdbfe;
  --as-blue-200-rgb: 191, 219, 254;
  --as-blue-300: #93c5fd;
  --as-blue-300-rgb: 147, 197, 253;
  --as-blue-400: #60a5fa;
  --as-blue-400-rgb: 96, 165, 250;
  --as-blue-500: #3b82f6;
  --as-blue-500-rgb: 59, 130, 246;
  --as-blue-600: #2563eb;
  --as-blue-600-rgb: 37, 99, 235;
  --as-blue-700: #1d4ed8;
  --as-blue-700-rgb: 29, 78, 216;
  --as-blue-800: #1e40af;
  --as-blue-800-rgb: 30, 64, 175;
  --as-blue-900: #1e3a8a;
  --as-blue-900-rgb: 30, 58, 138;
  --as-indigo: var(--as-indigo-500);
  --as-indigo-rgb: var(--as-indigo-500-rgb);
  --as-indigo-100: #e0e7ff;
  --as-indigo-100-rgb: 224, 231, 255;
  --as-indigo-200: #c7d2fe;
  --as-indigo-200-rgb: 199, 210, 254;
  --as-indigo-300: #a5b4fc;
  --as-indigo-300-rgb: 165, 180, 252;
  --as-indigo-400: #818cf8;
  --as-indigo-400-rgb: 129, 140, 248;
  --as-indigo-500: #6366f1;
  --as-indigo-500-rgb: 99, 102, 241;
  --as-indigo-600: #4f46e5;
  --as-indigo-600-rgb: 79, 70, 229;
  --as-indigo-700: #4338ca;
  --as-indigo-700-rgb: 67, 56, 202;
  --as-indigo-800: #3730a3;
  --as-indigo-800-rgb: 55, 48, 163;
  --as-indigo-900: #312e81;
  --as-indigo-900-rgb: 49, 46, 129;
  --as-violet: var(--as-violet-500);
  --as-violet-rgb: var(--as-violet-500-rgb);
  --as-violet-100: #ede9fe;
  --as-violet-100-rgb: 237, 233, 254;
  --as-violet-200: #ddd6fe;
  --as-violet-200-rgb: 221, 214, 254;
  --as-violet-300: #c4b5fd;
  --as-violet-300-rgb: 196, 181, 253;
  --as-violet-400: #a78bfa;
  --as-violet-400-rgb: 167, 139, 250;
  --as-violet-500: #8b5cf6;
  --as-violet-500-rgb: 139, 92, 246;
  --as-violet-600: #7c3aed;
  --as-violet-600-rgb: 124, 58, 237;
  --as-violet-700: #6d28d9;
  --as-violet-700-rgb: 109, 40, 217;
  --as-violet-800: #5b21b6;
  --as-violet-800-rgb: 91, 33, 182;
  --as-violet-900: #4c1d95;
  --as-violet-900-rgb: 76, 29, 149;
  --as-purple: var(--as-purple-500);
  --as-purple-rgb: var(--as-purple-500-rgb);
  --as-purple-100: #f3e8ff;
  --as-purple-100-rgb: 243, 232, 255;
  --as-purple-200: #e9d5ff;
  --as-purple-200-rgb: 233, 213, 255;
  --as-purple-300: #d8b4fe;
  --as-purple-300-rgb: 216, 180, 254;
  --as-purple-400: #c084fc;
  --as-purple-400-rgb: 192, 132, 252;
  --as-purple-500: #a855f7;
  --as-purple-500-rgb: 168, 85, 247;
  --as-purple-600: #9333ea;
  --as-purple-600-rgb: 147, 51, 234;
  --as-purple-700: #7e22ce;
  --as-purple-700-rgb: 126, 34, 206;
  --as-purple-800: #6b21a8;
  --as-purple-800-rgb: 107, 33, 168;
  --as-purple-900: #581c87;
  --as-purple-900-rgb: 88, 28, 135;
  --as-fuchsia: var(--as-fuchsia-500);
  --as-fuchsia-rgb: var(--as-fuchsia-500-rgb);
  --as-fuchsia-100: #fae8ff;
  --as-fuchsia-100-rgb: 250, 232, 255;
  --as-fuchsia-200: #f5d0fe;
  --as-fuchsia-200-rgb: 245, 208, 254;
  --as-fuchsia-300: #f0abfc;
  --as-fuchsia-300-rgb: 240, 171, 252;
  --as-fuchsia-400: #e879f9;
  --as-fuchsia-400-rgb: 232, 121, 249;
  --as-fuchsia-500: #d946ef;
  --as-fuchsia-500-rgb: 217, 70, 239;
  --as-fuchsia-600: #c026d3;
  --as-fuchsia-600-rgb: 192, 38, 211;
  --as-fuchsia-700: #a21caf;
  --as-fuchsia-700-rgb: 162, 28, 175;
  --as-fuchsia-800: #86198f;
  --as-fuchsia-800-rgb: 134, 25, 143;
  --as-fuchsia-900: #701a75;
  --as-fuchsia-900-rgb: 112, 26, 117;
  --as-pink: var(--as-pink-500);
  --as-pink-rgb: var(--as-pink-500-rgb);
  --as-pink-100: #fce7f3;
  --as-pink-100-rgb: 252, 231, 243;
  --as-pink-200: #fbcfe8;
  --as-pink-200-rgb: 251, 207, 232;
  --as-pink-300: #f9a8d4;
  --as-pink-300-rgb: 249, 168, 212;
  --as-pink-400: #f472b6;
  --as-pink-400-rgb: 244, 114, 182;
  --as-pink-500: #ec4899;
  --as-pink-500-rgb: 236, 72, 153;
  --as-pink-600: #db2777;
  --as-pink-600-rgb: 219, 39, 119;
  --as-pink-700: #be185d;
  --as-pink-700-rgb: 190, 24, 93;
  --as-pink-800: #9d174d;
  --as-pink-800-rgb: 157, 23, 77;
  --as-pink-900: #831843;
  --as-pink-900-rgb: 131, 24, 67;
  --as-rose: var(--as-rose-500);
  --as-rose-rgb: var(--as-rose-500-rgb);
  --as-rose-100: #ffe4e6;
  --as-rose-100-rgb: 255, 228, 230;
  --as-rose-200: #fecdd3;
  --as-rose-200-rgb: 254, 205, 211;
  --as-rose-300: #fda4af;
  --as-rose-300-rgb: 253, 164, 175;
  --as-rose-400: #fb7185;
  --as-rose-400-rgb: 251, 113, 133;
  --as-rose-500: #f43f5e;
  --as-rose-500-rgb: 244, 63, 94;
  --as-rose-600: #e11d48;
  --as-rose-600-rgb: 225, 29, 72;
  --as-rose-700: #be123c;
  --as-rose-700-rgb: 190, 18, 60;
  --as-rose-800: #9f1239;
  --as-rose-800-rgb: 159, 18, 57;
  --as-rose-900: #881337;
  --as-rose-900-rgb: 136, 19, 55;
  --as-slate: var(--as-slate-500);
  --as-slate-rgb: var(--as-slate-500-rgb);
  --as-slate-100: #f1f5f9;
  --as-slate-100-rgb: 241, 245, 249;
  --as-slate-200: #e2e8f0;
  --as-slate-200-rgb: 226, 232, 240;
  --as-slate-300: #cbd5e1;
  --as-slate-300-rgb: 203, 213, 225;
  --as-slate-400: #94a3b8;
  --as-slate-400-rgb: 148, 163, 184;
  --as-slate-500: #64748b;
  --as-slate-500-rgb: 100, 116, 139;
  --as-slate-600: #475569;
  --as-slate-600-rgb: 71, 85, 105;
  --as-slate-700: #334155;
  --as-slate-700-rgb: 51, 65, 85;
  --as-slate-800: #1e293b;
  --as-slate-800-rgb: 30, 41, 59;
  --as-slate-900: #0f172a;
  --as-slate-900-rgb: 15, 23, 42;
  --as-gray: var(--as-gray-500);
  --as-gray-rgb: var(--as-gray-500-rgb);
  --as-gray-100: #f3f4f6;
  --as-gray-100-rgb: 243, 244, 246;
  --as-gray-200: #e5e7eb;
  --as-gray-200-rgb: 229, 231, 235;
  --as-gray-300: #d1d5db;
  --as-gray-300-rgb: 209, 213, 219;
  --as-gray-400: #9ca3af;
  --as-gray-400-rgb: 156, 163, 175;
  --as-gray-500: #6b7280;
  --as-gray-500-rgb: 107, 114, 128;
  --as-gray-600: #4b5563;
  --as-gray-600-rgb: 75, 85, 99;
  --as-gray-700: #374151;
  --as-gray-700-rgb: 55, 65, 81;
  --as-gray-800: #1f2937;
  --as-gray-800-rgb: 31, 41, 55;
  --as-gray-900: #111827;
  --as-gray-900-rgb: 17, 24, 39;
  --as-zinc: var(--as-zinc-500);
  --as-zinc-rgb: var(--as-zinc-500-rgb);
  --as-zinc-100: #f4f4f5;
  --as-zinc-100-rgb: 244, 244, 245;
  --as-zinc-200: #e4e4e7;
  --as-zinc-200-rgb: 228, 228, 231;
  --as-zinc-300: #d4d4d8;
  --as-zinc-300-rgb: 212, 212, 216;
  --as-zinc-400: #a1a1aa;
  --as-zinc-400-rgb: 161, 161, 170;
  --as-zinc-500: #71717a;
  --as-zinc-500-rgb: 113, 113, 122;
  --as-zinc-600: #52525b;
  --as-zinc-600-rgb: 82, 82, 91;
  --as-zinc-700: #3f3f46;
  --as-zinc-700-rgb: 63, 63, 70;
  --as-zinc-800: #27272a;
  --as-zinc-800-rgb: 39, 39, 42;
  --as-zinc-900: #18181b;
  --as-zinc-900-rgb: 24, 24, 27;
  --as-neutral: var(--as-neutral-500);
  --as-neutral-rgb: var(--as-neutral-500-rgb);
  --as-neutral-100: #f5f5f5;
  --as-neutral-100-rgb: 245, 245, 245;
  --as-neutral-200: #e5e5e5;
  --as-neutral-200-rgb: 229, 229, 229;
  --as-neutral-300: #d4d4d4;
  --as-neutral-300-rgb: 212, 212, 212;
  --as-neutral-400: #a3a3a3;
  --as-neutral-400-rgb: 163, 163, 163;
  --as-neutral-500: #737373;
  --as-neutral-500-rgb: 115, 115, 115;
  --as-neutral-600: #525252;
  --as-neutral-600-rgb: 82, 82, 82;
  --as-neutral-700: #404040;
  --as-neutral-700-rgb: 64, 64, 64;
  --as-neutral-800: #262626;
  --as-neutral-800-rgb: 38, 38, 38;
  --as-neutral-900: #171717;
  --as-neutral-900-rgb: 23, 23, 23;
  --as-stone: var(--as-stone-500);
  --as-stone-rgb: var(--as-stone-500-rgb);
  --as-stone-100: #f5f5f4;
  --as-stone-100-rgb: 245, 245, 244;
  --as-stone-200: #e7e5e4;
  --as-stone-200-rgb: 231, 229, 228;
  --as-stone-300: #d6d3d1;
  --as-stone-300-rgb: 214, 211, 209;
  --as-stone-400: #a8a29e;
  --as-stone-400-rgb: 168, 162, 158;
  --as-stone-500: #78716c;
  --as-stone-500-rgb: 120, 113, 108;
  --as-stone-600: #57534e;
  --as-stone-600-rgb: 87, 83, 78;
  --as-stone-700: #44403c;
  --as-stone-700-rgb: 68, 64, 60;
  --as-stone-800: #292524;
  --as-stone-800-rgb: 41, 37, 36;
  --as-stone-900: #1c1917;
  --as-stone-900-rgb: 28, 25, 23;

  --as-spacing-sm: 2px;
  --as-spacing-md: 4px;
  --as-spacing-lg: 6px;
  --as-spacing-xl: 8px;
  --as-spacing-xxl: 10px;
}
